body {
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    background-image: url('./images/BgImage.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 90%;
    max-width: 400px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 1);
    border-radius: 8px;
    text-align: center;
}
#Right{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 22px;
    color: green;
}
#logo {
    width: 400px;
    height: 200px;
}

#reveal-content {
    display: none;
}
p{
    margin-top: 0px;
    margin-bottom: 30px;
}

.button1 {
    display: inline-block;
    padding: 10px 20px;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: purple;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.button1:hover {
    background-color: #4CAF50; 
}

.revealedImage {
    width: 100px;
    height: 100px;
}
.reveal-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
}

.reveal-button:hover {
    background-color: darkblue; 
    transition: background-color 0.5s ease;
}

@media only screen and (max-width: 600px) {
    .container {
        width: 90%;
        max-width: 200px;
    }
    #logo {
        width: 200px;
        height: 100px;
    }
}

